<% if @applications.status == "Pending" %>
  <p>Applicant Name: <%= @applications.name %></p>
  <p>Application Status: <%= @applications.status %></p>
  
  <% @pets.each do |pet| %>
      <p><%= pet.name %> </p>
     <% pets_app = @applications.find_pet_app(pet.id) %> <%= pets_app.pet_status %>
    <% if pet.adoptable == true %>
     <% if pets_app.pet_status != "Approved" && pets_app.pet_status != "Rejected" %>
        <p><%= form_with url: "/pets_applications/#{pets_app.id}", method: :patch, local: true do |form|%></p>
          <%= form.hidden_field :pet_status, value: "Approved" %>
          <%= form.submit "Approve" %>
        <% end %>
        <p><%= form_with url: "/pets_applications/#{pets_app.id}", method: :patch, local: true do |form|%></p>
          <%= form.hidden_field :pet_status, value: "Rejected" %>
          <%= form.submit "Reject" %>
        <% end %>
      <% end %>
    <% end %>
  <% end  %>
<% end %>
