<% if @applications.status == "Pending" %>
  <p>Applicant Name: <%= @applications.name %></p>
  <p>Application Status: <%= @applications.status %></p>
  <% @pets.each do |pet| %>
    <% if pet.adoptable == true %>
      <ul>
      <li><%= pet.name %></li>
      <li><%= button_to "Approve", action: "update", :approval => "approved" %></li>
      <li><%= button_to "Reject", action: "update", :approval => "rejected" %></li>
      </ul>
    <% end %>
  <% end  %>
<% end %>

<% if @applications.status == "Approved" %>
  <% @applications.pets.each do |pet| %>
    <p> Application for <%= pet.name %> Accepted </p>
  <% end %>
<% end %>

<% if @applications.status == "Rejected" %>
  <% @applications.pets.each do |pet| %>
    <p> Application for <%= pet.name %> Denied </p>
  <% end %>
<% end %>